{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %}>
      <link rel="stylesheet" type="text/css" href={% static "css/bootstrap-grid.css" %}>
      <link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
    <title>{{ title }}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="background-color: dodgerblue !important;">
  <div class="col-md-6">
        <a class="navbar-brand" href='{% url 'home' %}' style="margin-left: 50px;">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
  </div>
  <div class="col-md-6 ">
  <div class="collapse navbar-collapse float-md-right" id="collapsibleNavbar">
      {% if user.is_authenticated %}
            <a class="nav-item nav-link" style="color: azure;" href="{% url 'profile' %}">My Profile</a>
            <a class="nav-item nav-link" style="color: azure;" href="{% url 'post-create' %}">New Post</a>
            <a class="nav-item nav-link" style="color: azure;" href="{% url 'logout' %}">Log out</a>
      {% else %}
            <a class="nav-item nav-link" style="color: azure;" href="{% url 'register' %}">Register</a>
            <a class="nav-item nav-link" style="color: azure;" href="{% url 'login' %}">Log in</a>
        {% endif %}
    </ul>
  </div>
  </div>
</nav>

    <span class="border">
          {% block content %}{% endblock content %}
    </span>

    <script src="{% static "js/bootstrap.js" %} "></script>
  </body>
</html>